* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ol, ul {
  list-style: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.el-form-item.is-required .el-form-item__label:before{
  content: '';
}

.el-form-item__label {
  padding-right: 20px;
}

.s-index {
  .label {
    float: left;
    width: 90px;
    line-height: 40px;
    text-align: right;
    font-size: 14px;
    margin-right: 30px;
  }
  .select {
    .el-input {
      width: 50%;
    }
    .el-select {
      width: 50%;
      .el-input {
        width: 100%;
      }
    }
    .el-row {
      margin-top: 20px;
    }
  }
  .main {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
  }
  .main-title {
    font-size: 14px;
    line-height: 40px;
  }
  .sub-title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    line-height: 2;
  }
}
.dash-line {
  height: 1px;
  border-top: 1px dashed rgb(204,204,204);
  margin-top: 20px;
}
.el-pagination {
  float: right;
}
.dialog-title {
  text-align: center;
  font-size: 18px;
  color: #666;
  font-weight: bold;
}
.result-num {
  font-size: 15px;
  line-height: 50px;
}
.click {
  cursor: pointer;
  color: #409EFF;
}
th {
  background: rgb(249,249,249)!important;
}

.center {
  text-align: center;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.lh-30 {
  line-height: 30px;
}
.w-100p {
  width: 100%;
}
.ml-15 {
  margin-left: 15px;
}
.w-100 {
  width: 100px;
}
.oh {
  overflow: hidden;
}
.fz-16 {
  font-size: 16px;
}
.mt-10 {
  margin-top: 10px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.relative {
  position: relative;
}
.t-4 {
  top: 4px;
}
.t--7 {
  top: -7px;
}